Source: hubclient
Section: misc
Priority: optional
Maintainer: Alon Swartz <alon@turnkeylinux.org>
Build-Depends:
 debhelper (>= 10),
 dh-python,
 python-all (>= 2.6.6-3~),
Standards-Version: 4.0.0
X-Python-Version: >= 2.6

Package: hubclient
Architecture: all
Depends:
 ca-certificates,
 ${misc:Depends},
 pycurl-wrapper (>= 1.1),
 ${python:Depends},
 tklamq,
 turnkey-pylib,
Recommends:
 inithooks,
 openssh-server,
Description: TurnKey GNU/Linux Hub client
