Source: hubclient
Section: misc
Priority: optional
Maintainer: Alon Swartz <alon@turnkeylinux.org>
Build-Depends: debhelper (>> 4.2.0)
Standards-Version: 3.6.1

Package: hubclient
Architecture: all
Depends: python (>= 2.4), pycurl-wrapper, turnkey-sslcerts, turnkey-pylib, tklamq, python-simplejson
Recommends: inithooks, openssh-server
Section: misc
Description: TurnKey Linux Hub client
