Source: hubclient
Section: misc
Priority: optional
Maintainer: Jeremy Davis <jeremy@turnkeylinux.org>
Build-Depends:
 debhelper (>= 10),
 dh-python,
 python-all (>= 3.6~),
Standards-Version: 4.0.0

Package: hubclient
Architecture: all
Depends:
 ca-certificates,
 ${misc:Depends},
 py3curl-wrapper,
 ${python3:Depends},
 tklamq,
 turnkey-conf,
Recommends:
 inithooks,
 openssh-server,
Description: TurnKey GNU/Linux Hub client
